{% load static %}
<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    {% if products %}
    {% for product in products %}
   
    <div class="col-sm-4">
        <div class="product-image-wrapper">

            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="{{ product.photo_main.url }}" alt="" />
                    <h2>${{ product.price }}</h2>
                    <p>{{ product.tittle }}</p>
                    <a  class="btn btn-default add-to-cart" href="{% url 'cart' product.id %}">
                    <i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                {% comment %} <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>${{ product.sale }}</h2>
                        <p>{{ product.tittle }}</p>
                        {% if user.is_authenticated %}
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                            cart</a>
                        {% endif %}
                    </div>
                </div> {% endcomment %}
            </div>
            <div class="choose">
                {% if user.is_authenticated %}
                <ul class="nav nav-pills nav-justified">
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class='cpl-sm-4'>
        <h3>No product found</h3>
    </div>
    {% endif %}
</div>
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

<!--features_items-->